<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flower.flowerCulture.mapper.LedtimeslotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.flower.flowerCulture.model.Ledtimeslot">
    <result column="id" property="id" />
        <result column="time" property="time" />
        <result column="type" property="type" />
        <result column="timeslot" property="timeslot" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        time, type, timeslot
    </sql>
    <!-- 查询LED光照时间（人工和自然光照） -->
    <select id="SelectLedtimeslot" resultType="com.flower.flowerCulture.model.Ledtimeslot">
        select SUM(timeslot) as timeslot,type from ledtimeslot GROUP BY type
    </select>

</mapper>
